# Count all installed dependencies with sub dependencies:
# pip freeze --all | wc --lines

# --- DEV/local tools ---
pipdeptree==2.13.0  # CLI to show dependency tree of packages -- https://pypi.org/project/pipdeptree/
pendulum==2.1.2  # Python datetimes made easy -- https://github.com/sdispater/pendulum
loguru==0.7.2  # Python logging made (stupidly) simple -- https://pypi.org/project/loguru/
icecream==2.1.3  # Never use print() to debug again -- https://github.com/gruns/icecream

# code quality tools
pre-commit==3.5.0  # https://pypi.org/project/pre-commit/
black==23.10.1  # The uncompromising code formatter -- https://pypi.org/project/black/
ruff==0.1.1  # An extremely fast Python linter, written in Rust -- https://pypi.org/project/ruff/
ipython==8.16.1  # https://pypi.org/project/ipython/

memray==1.10.0  # Python memory profiler -- https://github.com/bloomberg/memray
